In [23]:
import os.path

# from qbe_demo import Demo, ExampleColumn, Colors

In [24]:
# from knowledgerepr import fieldnetwork
# from modelstore.elasticstore import StoreHandler
# from algebra import API
# from qbe_module.column_selection import ColumnSelection
# from qbe_module.query_by_example import ExampleColumn, QueryByExample
# from qbe_module.materializer import Materializer
# from ver_demo import Demo

In [3]:
# data_path = '/home/cc/chicago_open_data/'
# graph_path = '/home/cc/chicago_open_data_graph/'
# store_client = StoreHandler()
# network = fieldnetwork.deserialize_network(graph_path)
# aurum_api = API(network=network, store_client=store_client)
# # demo = Demo(aurum_api)
# demo = Demo(None)

# View Specification

In [25]:
# qbe_demo = Demo(None)

In [26]:
# qbe_demo.qbe_interface()

In [27]:
from typing import List

class ExampleColumn:
    def __init__(self, attr: str, examples: List[str]) -> None:
        self.attr = attr
        self.examples = examples

In [28]:
# import ipywidgets as widgets
# from IPython.display import display, clear_output, HTML

# candidate_list = []
# example_columns = []

# row_num = 3
# col_num = 3

# default_values = [["", "", ""], ["Ogden International High School", "IB", "Level 1"],
#                   ["Hyde Park High School", "General Education", "Level 2"]]

# attr_style = "<style>.attr input { background-color:#D0F0D0 !important; }</style>"
# x = [[widgets.Text(value=default_values[i][j]) for j in range(col_num)] for i in range(row_num)]

# out = widgets.Output()

# button1 = widgets.Button(description="Add Column")
# button2 = widgets.Button(description="Remove Column")
# button3 = widgets.Button(description="Add Row")
# button4 = widgets.Button(description="Remove Row")
# button5 = widgets.Button(description="Confirm")

# @out.capture()
# def draw():
#     attr_line = [widgets.HTML(attr_style)]
#     attr_line.extend([item.add_class('attr') for item in x[0]])
#     attrs = widgets.HBox(attr_line)
#     display(widgets.VBox([attrs] + [widgets.HBox(x[i]) for i in range(1, row_num)]))
#     # display(widgets.VBox([widgets.HBox(x[i]) for i in range(1, row_num)]))

# @out.capture()
# def display_all():
#     display(widgets.HBox([button1, button2, button3, button4]))
#     draw()
#     # display(out)
#     display(button5)

# @out.capture()
# def add_column(_):
#     global col_num
#     global x
#     global out
#     col_num += 1
#     for i in range(row_num):
#         x[i].append(widgets.Text())
#     out.clear_output()
#     with out:
#         display_all()

# @out.capture()
# def remove_column(_):
#     global col_num
#     global x
#     global out
#     for i in range(row_num):
#         w = x[i].pop()
#         w.close()
#     col_num -= 1
#     out.clear_output()
#     with out:
#         display_all()

# @out.capture()
# def add_row(_):
#     global row_num
#     global x
#     global out
#     row_num += 1
#     x.append([widgets.Text() for _ in range(col_num)])
#     out.clear_output()
#     with out:
#         display_all()

# @out.capture()
# def remove_row(_):
#     global row_num
#     global x
#     global out
#     ws = x.pop()
#     for w in ws:
#         w.close()
#     row_num -= 1
#     out.clear_output()
#     with out:
#         display_all()

# def confirm(_):
#     global values
#     global attrs
#     global example_columns
#     values = []
#     attrs = []
#     candidate_list = [[] for _ in range(col_num)]
#     for i in range(row_num):
#         row = []
#         for j in range(col_num):
#             if i == 0:
#                 attrs.append(x[i][j].value)
#             else:
#                 row.append(x[i][j].value)
#         if i != 0:
#             values.append(row)

#     example_columns = []
#     for i, attr in enumerate(attrs):
#         example_col = ExampleColumn(attr, [values[j][i] for j in range(row_num - 1)])
#         example_columns.append(example_col)

# #     example_columns = example_columns
#     print("Confirmed")
#     # self.get_relevant_columns(example_columns)


# button1.on_click(add_column)
# button2.on_click(remove_column)
# button3.on_click(add_row)
# button4.on_click(remove_row)
# button5.on_click(confirm)

# display_all()

# # display(widgets.HBox([button1, button2, button3, button4]))
# # draw()
# # display(out)
# # display(button5)

In [29]:
%gui asyncio

import ipywidgets as widgets
from IPython.display import display, clear_output, HTML

import asyncio

candidate_list = []
example_columns = []

row_num = 3
col_num = 3

default_values = [["school", "type", "rating"], ["Ogden International High School", "IB", "Level 1"],
                  ["Hyde Park High School", "General Education", "Level 2"]]

attr_style = "<style>.attr input { background-color:#D0F0D0 !important; }</style>"
x = [[widgets.Text(value=default_values[i][j]) for j in range(col_num)] for i in range(row_num)]

out = widgets.Output()

button1 = widgets.Button(description="Add Column")
button2 = widgets.Button(description="Remove Column")
button3 = widgets.Button(description="Add Row")
button4 = widgets.Button(description="Remove Row")
button5 = widgets.Button(description="Confirm")
buttons = [button1, button2, button3, button4, button5]


def wait_for_change(buttons):
    future = asyncio.Future()

    def getvalue(change):
        future.set_result(change.description)
        for button in buttons:
            button.on_click(getvalue, remove=True)
        # we need to free up the binding to getvalue to avoid an InvalidState error
        # buttons don't support unobserve
        # so use `remove=True`

    for button in buttons:
        button.on_click(getvalue)
    return future


@out.capture()
def draw(x, row_num, col_num):
    attr_line = [widgets.HTML(attr_style)]
    attr_line.extend([item.add_class('attr') for item in x[0]])
    attrs = widgets.HBox(attr_line)
    display(widgets.VBox([attrs] + [widgets.HBox(x[i]) for i in range(1, row_num)]))
    # display(widgets.VBox([widgets.HBox(x[i]) for i in range(1, row_num)]))


@out.capture()
def display_all(x, row_num, col_num):
    print("Input examples")
    display(widgets.HBox([button1, button2, button3, button4]))
    draw(x, row_num, col_num)
    # display(out)
    display(button5)


@out.capture()
def add_column(x, row_num, col_num):
    # global col_num
    # global x
    col_num += 1
    x[0].append(widgets.Text(value="col"+str(len(x[0]))))
    for i in range(1, row_num):
        x[i].append(widgets.Text())
    return x, row_num, col_num
    # out.clear_output()
    # with out:
    #     display_all()


@out.capture()
def remove_column(x, row_num, col_num):
    # global col_num
    # global x
    for i in range(row_num):
        w = x[i].pop()
        w.close()
    col_num -= 1
    return x, row_num, col_num
    # out.clear_output()
    # with out:
    #     display_all()


@out.capture()
def add_row(x, row_num, col_num):
    # global row_num
    # global x
    row_num += 1
    x.append([widgets.Text() for _ in range(col_num)])
    return x, row_num, col_num
    # out.clear_output()
    # with out:
    #     display_all()


@out.capture()
def remove_row(x, row_num, col_num):
    # global row_num
    # global x
    # global out
    ws = x.pop()
    for w in ws:
        w.close()
    row_num -= 1
    return x, row_num, col_num
    # out.clear_output()
    # with out:
    #     display_all()

# example_columns = []
    
@out.capture()
def confirm(x, row_num, col_num):
    global values
    global attrs
    values = []
    attrs = []
    candidate_list = [[] for _ in range(col_num)]
    for i in range(row_num):
        row = []
        for j in range(col_num):
            if i == 0:
                attrs.append(x[i][j].value)
            else:
                row.append(x[i][j].value)
        if i != 0:
            values.append(row)
            
#     global example_columns
    example_columns = []

    for i, attr in enumerate(attrs):
        example_col = ExampleColumn(attr, [values[j][i] for j in range(row_num - 1)])
        example_columns.append(example_col)

    
    print("Confirmed")
    # self.get_relevant_columns(example_columns)
    
    return example_columns


async def f():
    row_num = 3
    col_num = 3

    x = [[widgets.Text(value=default_values[i][j]) for j in range(col_num)] for i in range(row_num)]


    while True:
        out.clear_output()
        display_all(x, row_num, col_num)

        option_picked = await wait_for_change(buttons)

        if option_picked == "Add Column":
            x, row_num, col_num = add_column(x, row_num, col_num)
        elif option_picked == "Remove Column":
            x, row_num, col_num = remove_column(x, row_num, col_num)
        elif option_picked == "Add Row":
            x, row_num, col_num = add_row(x, row_num, col_num)
        elif option_picked == "Remove Row":
            x, row_num, col_num = remove_row(x, row_num, col_num)
        elif option_picked == "Confirm":
            example_columns = confirm(x, row_num, col_num)
            break

    return example_columns


task = asyncio.ensure_future(f())
# asyncio.create_task(f())
# example_columns = f()
# display(out)
# await f()

# await task
# example_columns = task.result()

Input examples

HBox(children=(Button(description='Add Column', style=ButtonStyle()), Button(description='Remove Column', styl…

VBox(children=(HBox(children=(HTML(value='<style>.attr input { background-color:#D0F0D0 !important; }</style>'…

Button(description='Confirm', style=ButtonStyle())

Confirmed

In [30]:
# await task
# example_columns = task.result()

In [31]:
for example_column in example_columns:
    print(example_column.attr)
    print(example_column.examples)

school
['Ogden International High School', 'Hyde Park High School']
type
['IB', 'General Education']
rating
['Level 1', 'Level 2']

# Find Candidate Columns

In [32]:
# qbe = QueryByExample(aurum_api)
# candidate_list = qbe.find_candidate_columns(example_columns, cluster_prune=True)

from IPython.display import display

layout = widgets.Layout(width='auto', height='40px') #set width and height

button = widgets.Button(description="find candidate columns", 
                        disabled=False,
                        display='flex',
                        flex_flow='column',
                        align_items='stretch', 
                        layout = layout)

output = widgets.Output()

result = []

# display(button, output)

def find_candidate_columns(b):
    with output:
        print("finding candidate columns...")

    fake_candidate_cols = [["Chicago Public Schools - School Admissions Information SY2122.csv.long_name", "Chicago Public Schools - School Admissions Information SY2223.csv.long_name"], ["Chicago Public Schools - School Admissions Information SY2122.csv.program_group",
"Chicago Public Schools - School Admissions Information SY2223.csv.program_group"], ["Chicago Public Schools - School Profile Information SY2223.csv.overall_rating", "Chicago Public Schools - School Profile Information SY2122.csv.overall_rating"]]
#     find_candidate_columns.data = fake_candidate_cols

    global result
    result = fake_candidate_cols

    with output:
        print("complete")
    # return find_candidate_columns.data

button.on_click(find_candidate_columns)
display(button)

Button(description='find candidate columns', layout=Layout(height='40px', width='auto'), style=ButtonStyle())

finding candidate columns...
complete

In [33]:
candidate_list = result
for i, candidate in enumerate(candidate_list):
    print('\ncolumn {}: found {} candidate columns'.format(example_columns[i].attr, len(candidate)))
    for c in candidate:
        print(c)

column school: found 2 candidate columns
Chicago Public Schools - School Admissions Information SY2122.csv.long_name
Chicago Public Schools - School Admissions Information SY2223.csv.long_name

column type: found 2 candidate columns
Chicago Public Schools - School Admissions Information SY2122.csv.program_group
Chicago Public Schools - School Admissions Information SY2223.csv.program_group

column rating: found 2 candidate columns
Chicago Public Schools - School Profile Information SY2223.csv.overall_rating
Chicago Public Schools - School Profile Information SY2122.csv.overall_rating

In [43]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
from IPython.display import display, clear_output, HTML
from ipywidgets import interact, Dropdown

data_path = './test_data/'

output = widgets.Output()

default_col = example_columns[0].attr

candidate_columns_dict = {}
for i, candidate in enumerate(candidate_list):
    candidate_columns_dict[example_columns[i].attr] = candidate

def highlight_cols(s, color='lightgreen'):
    return 'background-color: %s' % color

def apply_highlight(df, cols_to_highlight, color='lightyellow'):
    html = df.style.applymap(highlight_cols,
                         subset=pd.IndexSlice[:, cols_to_highlight],
                        color=color).render()
    return html

def display_candidate(candidate, dropdown_candidate, num=10):
    
    output.clear_output()
    
#     global dropdown_candidate
    
    with output:
#         print(dropdown_candidate.options)
        print("View Candidate Columns")
        display(dropdown_col, dropdown_candidate, bounded_num)
            
    split = candidate.rsplit(".", 1)
    table_name, col_name = split[0], split[1]
    with output:
        print("candidate table column:", table_name, col_name)

    df = pd.read_csv(os.path.join(data_path, table_name))
    df = df.head(num)
    cols_to_highlight = [col_name]

    html = apply_highlight(df, cols_to_highlight)
    
    with output:
        display(HTML(html))

def dropdown_col_eventhandler(change):
    col = change.new
#     global dropdown_candidate
#     dropdown_candidate.options = list(candidate_columns_dict[col])
    new_dropdown_candidate = widgets.Dropdown(description="Candidate Table Column", options=list(candidate_columns_dict[col]))
    dropdown_candidate = new_dropdown_candidate                         
    dropdown_candidate.observe(dropdown_candidate_eventhandler, names='value')
    
    num = int(bounded_num.value)
    
    display_candidate(dropdown_candidate.options[0], dropdown_candidate, num=num)

def dropdown_candidate_eventhandler(change):
    candidate = change.new
    
#     col = dropdown_col.value
#     global dropdown_candidate
#     new_dropdown_candidate = widgets.Dropdown(description="Candidate Table Column", options=list(candidate_columns_dict[col]))
#     dropdown_candidate = new_dropdown_candidate   

    num = int(bounded_num.value)

    dropdown_candidate.observe(dropdown_candidate_eventhandler, names='value')
    display_candidate(candidate, dropdown_candidate, num=num)
    
def bounded_num_eventhandler(change):
    num = int(change.new)
    
    col = dropdown_col.value
    new_dropdown_candidate = widgets.Dropdown(description="Candidate Table Column", options=list(candidate_columns_dict[col]))
    dropdown_candidate = new_dropdown_candidate            
    dropdown_candidate.observe(dropdown_candidate_eventhandler, names='value')
    
    candidate=dropdown_candidate.value
    
    display_candidate(candidate, dropdown_candidate, num=num)

    
dropdown_col = widgets.Dropdown(options=list(candidate_columns_dict.keys()), description="Column Name")
dropdown_candidate = widgets.Dropdown(description="Candidate Table Column", options=candidate_columns_dict[default_col])
bounded_num = widgets.BoundedFloatText(min=0, max=1000, value=10, step=1, description="Size")

dropdown_col.observe(dropdown_col_eventhandler, names='value')
dropdown_candidate.observe(dropdown_candidate_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

print("View Candidate Columns")

display(dropdown_col, dropdown_candidate, bounded_num)

display(output)

View Candidate Columns

Dropdown(description='Column Name', options=('school', 'type', 'rating'), value='school')

Dropdown(description='Candidate Table Column', index=1, options=('Chicago Public Schools - School Admissions I…

BoundedFloatText(value=10.0, description='Size', max=1000.0, step=1.0)

candidate table column: Chicago Public Schools - School Admissions Information SY2223.csv long_name

# Find Join Graphs

In [35]:
# join_graphs = qbe.find_join_graphs_between_candidate_columns(candidate_list, order_chain_only=True)
# print("found {} join graphs".format(len(join_graphs)))

class JoinPath:
    def __init__(self, path: list, tbl_proj_attrs):
        # join path is a list of key pairs: [join_key1, join_key2], [join_key3, join_key4]
        self.path = path
        self.tbl_proj_attrs = tbl_proj_attrs

button = widgets.Button(description="find join graphs", layout=layout)
output = widgets.Output()

result = []

def find_join_graphs_between_candidate_columns(b):
    with output:
        print("finding join graphs...")

    fake_join_graphs = []

    # join_graph1 = {}
    # join_graph1[(0, 1)] = JoinPath(path=["Chicago Public Schools - School Admissions Information SY2223.csv.long_name", "Chicago Public Schools - School Admissions Information SY2223.csv.long_name"], tbl_proj_attrs=[["Chicago Public Schools - School Admissions Information SY2223.csv.long_name"], ["Chicago Public Schools - School Admissions Information SY2223.csv.program_group"]])
    # join_graph1[(1, 2)] = JoinPath(path=["Chicago Public Schools - School Admissions Information SY2223.csv.short_name", "Chicago Public Schools - School Profile Information SY2223.csv.long_name"], tbl_proj_attrs=[["Chicago Public Schools - School Admissions Information SY2223.csv.program_group"], ["Chicago Public Schools - School Profile Information SY2223.csv.overall_rating"]])
    #
    # fake_join_graphs.append(join_graph1)
    #
    # join_graph2 = {}
    # join_graph2[(0, 1)] = JoinPath(path=["Chicago Public Schools - School Admissions Information SY2223.csv.long_name", "Chicago Public Schools - School Admissions Information SY2223.csv.long_name"], tbl_proj_attrs=[["Chicago Public Schools - School Admissions Information SY2223.csv.long_name"], ["Chicago Public Schools - School Admissions Information SY2223.csv.program_group"]])
    # join_graph2[(1, 2)] = JoinPath(path=["Chicago Public Schools - School Admissions Information SY2223.csv.short_name", "Chicago Public Schools - School Profile Information SY2223.csv.short_name"], tbl_proj_attrs=[["Chicago Public Schools - School Admissions Information SY2223.csv.program_group"], ["Chicago Public Schools - School Profile Information SY2223.csv.overall_rating"]])
    #
    # fake_join_graphs.append(join_graph2)

    join_graph1 = {}
    join_graph1["tables"] = ("Chicago Public Schools - School Admissions Information SY2223.csv", "Chicago Public Schools - School Profile Information SY2122.csv")
    join_graph1["join_keys"] = ("short_name", "long_name")
    join_graph1["attrs_to_project"] = (["long_name", "program_group"], ["overall_rating"])
    fake_join_graphs.append(join_graph1)

    join_graph2 = {}
    join_graph2["tables"] = ("Chicago Public Schools - School Admissions Information SY2223.csv", "Chicago Public Schools - School Profile Information SY2223.csv")
    join_graph2["join_keys"] = ("short_name", "short_name")
    join_graph2["attrs_to_project"] = (["long_name", "program_group"], ["overall_rating"])
    fake_join_graphs.append(join_graph2)

    global result
    result = fake_join_graphs

    # find_join_graphs_between_candidate_columns.data = fake_join_graphs

    with output:
        print(f"found {len(fake_join_graphs)} join graphs")

    # return find_join_graphs_between_candidate_columns.data

button.on_click(find_join_graphs_between_candidate_columns)
display(button)

Button(description='find join graphs', layout=Layout(height='40px', width='auto'), style=ButtonStyle())

finding join graphs...
found 2 join graphs

In [36]:
# join_graphs = find_join_graphs_between_candidate_columns.data
join_graphs = result

for i, join_graph in enumerate(join_graphs):
    print("----join graph {}----".format(i))
    # join_graph.display()
    print(join_graph)

----join graph 0----
{'tables': ('Chicago Public Schools - School Admissions Information SY2223.csv', 'Chicago Public Schools - School Profile Information SY2122.csv'), 'join_keys': ('short_name', 'long_name'), 'attrs_to_project': (['long_name', 'program_group'], ['overall_rating'])}
----join graph 1----
{'tables': ('Chicago Public Schools - School Admissions Information SY2223.csv', 'Chicago Public Schools - School Profile Information SY2223.csv'), 'join_keys': ('short_name', 'short_name'), 'attrs_to_project': (['long_name', 'program_group'], ['overall_rating'])}

In [37]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
from IPython.display import display, clear_output, HTML
from ipywidgets import interact, Dropdown

data_path = './test_data/'

output = widgets.Output()

from IPython.display import display_html
from itertools import chain,cycle

def display_side_by_side(dfs,titles=cycle(['']), cols_to_highlight=None):
    html_str=''
    i = 0
    for df, title in zip(dfs, chain(titles,cycle(['</br>'])) ):
        html_str += '<th style="text-align:center"><td style="vertical-align:top">'
        html_str += f'<h2 style="text-align:center;">{title}</h2>'

        df_html = df.to_html()
        if cols_to_highlight is not None:
#             print([cols_to_highlight[i]])
            df_html = apply_highlight(df, [cols_to_highlight[i]])
            i+=1

        html_str += df_html.replace('table','table style="display:inline"')
        html_str += '</td></th>'
    display_html(html_str,raw=True)

def display_join_graph(join_graph_idx, num=10):

    output.clear_output()

#     global dropdown_candidate

    with output:
#         print(dropdown_candidate.options)
        print("View Join Graphs")
        display(dropdown_idx, bounded_num)

    dfs = []
    # titles = join_graphs[join_graph_idx]
    join_graph = join_graphs[join_graph_idx]

    table_names = list(join_graph["tables"])
    join_keys = list(join_graph["join_keys"])

    for i, table_name in enumerate(table_names):

        join_key = join_keys[i]
        attrs_to_project = join_graph["attrs_to_project"][i]
        
#         print(join_graph["attrs_to_project"])
#         print(join_key, attrs_to_project)

        cols = attrs_to_project.copy()
        cols.append(join_key)
        
        
        df = pd.read_csv(os.path.join(data_path, table_name))[cols]
        
        if isinstance(df, pd.Series):
            df.to_frame()
            
        df = df.head(num)

        dfs.append(df)

    with output:
        display_side_by_side(dfs, table_names, join_keys)

def dropdown_idx_eventhandler(change):
    idx = int(change.new)
    num = int(bounded_num.value)
    display_join_graph(idx, num)

def bounded_num_eventhandler(change):
    num = int(change.new)
    idx = dropdown_idx.value
    display_join_graph(idx, num)


dropdown_idx = widgets.Dropdown(options=[i for i in range(len(join_graphs))], description="Idx")
bounded_num = widgets.BoundedFloatText(min=0, max=1000, value=10, step=1, description="Size")

dropdown_idx.observe(dropdown_idx_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

print("View Join Graphs")
display(dropdown_idx, bounded_num)
display(output)

View Join Graphs

Dropdown(description='Idx', options=(0, 1), value=0)

BoundedFloatText(value=10.0, description='Size', max=1000.0, step=1.0)

# Materialize Join Graphs

In [38]:
button = widgets.Button(description="materialize join graphs", layout=layout)
output = widgets.Output()

# display(button, output)

result = []

def materialize_join_graphs(b):
    with output:
        print("materializing join graphs...")

    fake_dfs = []
    fake_dfs.append(pd.read_csv("./test_data/Chicago Public Schools - School Profile Information SY2223.csv"))
    fake_dfs.append(pd.read_csv("./test_data/Chicago Public Schools - School Admissions Information SY2223.csv"))
    fake_dfs.append(pd.read_csv("./test_data/Chicago Public Schools - School Profile Information SY2122.csv"))
    fake_dfs.append(pd.read_csv("./test_data/Chicago Public Schools - School Admissions Information SY2122.csv"))

    global result
    result = fake_dfs
#     materialize_join_graphs.data = fake_dfs

    with output:
        print(f"materialized {len(fake_dfs)} views")

#     return materialize_join_graphs.data

button.on_click(materialize_join_graphs)
display(button)

Button(description='materialize join graphs', layout=Layout(height='40px', width='auto'), style=ButtonStyle())

materializing join graphs...
materialized 4 views

In [39]:
dfs = result

In [40]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
from IPython.display import display, clear_output, HTML
from ipywidgets import interact, Dropdown

data_path = './test_data/'

output = widgets.Output()


def display_view(view_idx, num=10):

    output.clear_output()

#     global dropdown_candidate

    with output:
#         print(dropdown_candidate.options)
        print("Show Views")
        display(dropdown_view, bounded_num)

    df = dfs[view_idx].head(num)

    with output:
        display(df)

def dropdown_view_eventhandler(change):
    idx = int(change.new)
    num = int(bounded_num.value)
    display_view(idx, num)

def bounded_num_eventhandler(change):
    num = int(change.new)
    idx = dropdown_idx.value
    display_view(idx, num)

dropdown_view = widgets.Dropdown(options=[i for i in range(len(dfs))], description="Idx")
bounded_num = widgets.BoundedFloatText(min=0, max=1000, value=10, step=1, description="Size")

dropdown_view.observe(dropdown_view_eventhandler, names='value')
bounded_num.observe(bounded_num_eventhandler, names='value')

print("Show Views")
display(dropdown_view, bounded_num)
display(output)

Show Views

Dropdown(description='Idx', index=2, options=(0, 1, 2, 3), value=2)

BoundedFloatText(value=13.0, description='Size', max=1000.0, step=1.0)

,school_id,legacy_unit_id,finance_id,short_name,long_name,primary_category,is_high_school,is_middle_school,is_elementary_school,is_pre_school,...,sixth_contact_name,seventh_contact_title,seventh_contact_name,significantly_modified,preschool_instructional,youtube,visual_impairments,closed_for_enrollment_date,hard_of_hearing,pinterest
0,610067,4760,24451,MCKAY,Francis M McKay Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,610004,4100,23891,CULLEN,Countee Cullen Elementary School,ES,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,400180,9684,66032,KIPP - ONE,KIPP One Academy,ES,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,400118,9035,66575,NOBLE - DRW HS,Noble - DRW College Prep,HS,True,False,False,False,...,Meredith Mersits,Dean of Students,Cecilia Alcaraz,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,610207,6250,29311,VANDERPOEL,John H Vanderpoel Elementary Magnet School,ES,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,609713,1390,46171,HYDE PARK HS,Hyde Park Academy High School,HS,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,609958,3690,29121,GUNSAULUS,Frank W Gunsaulus Elementary Scholastic Academy,ES,False,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,400086,7030,66441,URBAN PREP - ENGLEWOOD HS,Urban Prep Academy for Young Men - Englewood,HS,True,False,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,400046,6770,66211,LEARN - BUTLER,L.E.A.R.N. - Romano Butler Campus,ES,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,610394,2210,26861,UPLIFT HS,Uplift Community High School,HS,True,False,False,False,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN
10,400039,5780,66331,ERIE,Erie Elementary Charter School,ES,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,610228,6450,25861,WHITTIER,John Greenleaf Whittier Elementary School,ES,False,True,True,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,610155,5690,25211,SAUGANASH,Sauganash Elementary School,ES,False,True,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# View Distillation

In [41]:
from view_distillation import view_distillation

vd = view_distillation.ViewDistillation(dfs=dfs)

button = widgets.Button(description="distill views")
output = widgets.Output()

# display(button, output)

def distill_views(b):
    with output:
        print("distilling views...")

    with output:
        vd.prune_graph()


button.on_click(distill_views)
display(button)

original num views: 2
num schema groups: 2

Button(description='distill views', style=ButtonStyle())

distilling views...

0it [00:00, ?it/s]
0it [00:00, ?it/s]

num views after pruning compatible: 2
num views after pruning contained: 2
num views after union complementary: 2
num of contradictory view paris: 0

# View Presentation

In [42]:
button = widgets.Button(description="view presentation")
output = widgets.Output()

# display(button, output)

def view_presentation(b):
    with output:
        print("view presentation")

button.on_click(view_presentation)
display(button)

Button(description='view presentation', style=ButtonStyle())

view presentation

In [ ]:
# import pandas as pd
# from IPython.display import display, clear_output, HTML

# def highlight_cols(s, color='lightgreen'):
#     return 'background-color: %s' % color

# def apply_highlight(df, cols_to_highlight, color='lightyellow'):
#     html = df.style.applymap(highlight_cols,
#                          subset=pd.IndexSlice[:, cols_to_highlight],
#                         color=color).render()
#     return html

# data_path = './test_data/'

# df = pd.read_csv(data_path + "Chicago Public Schools - School Admissions Information SY2223.csv")
# df = df.head(10)
# cols_to_highlight = ["long_name"]

# html = apply_highlight(df, cols_to_highlight)

# display(HTML(html))

In [ ]:
# import pandas as pd
# from IPython.display import display, clear_output, HTML

# def highlight_cols(s, color='lightgreen'):
#     return 'background-color: %s' % color

# def apply_highlight(df, cols_to_highlight, color='lightyellow'):
#     html = df.style.applymap(highlight_cols,
#                          subset=pd.IndexSlice[:, cols_to_highlight],
#                         color=color).render()
#     return html

# data_path = './test_data/'

# df = pd.read_csv(data_path + "Chicago Public Schools - School Admissions Information SY2223.csv")
# df = df.head(10)
# cols_to_highlight = ["long_name"]

# html = apply_highlight(df, cols_to_highlight)

# display(HTML(html))

In [ ]:
# import pandas as pd
# from IPython.display import display, clear_output, HTML

# def highlight_cols(s, color='lightgreen'):
#     return 'background-color: %s' % color

# def apply_highlight(df, cols_to_highlight, color='lightyellow'):
#     html = df.style.applymap(highlight_cols,
#                          subset=pd.IndexSlice[:, cols_to_highlight],
#                         color=color).render()
#     return html

# data_path = './test_data/'

# df = pd.read_csv(data_path + "Chicago Public Schools - School Admissions Information SY2223.csv")
# df = df.head(10)
# cols_to_highlight = ["long_name"]

# html = apply_highlight(df, cols_to_highlight)

# display(HTML(html))

In [ ]:
# import pandas as pd
# from IPython.display import display, clear_output, HTML

# def highlight_cols(s, color='lightgreen'):
#     return 'background-color: %s' % color

# def apply_highlight(df, cols_to_highlight, color='lightyellow'):
#     html = df.style.applymap(highlight_cols,
#                          subset=pd.IndexSlice[:, cols_to_highlight],
#                         color=color).render()
#     return html

# data_path = './test_data/'

# df = pd.read_csv(data_path + "Chicago Public Schools - School Admissions Information SY2223.csv")
# df = df.head(10)
# cols_to_highlight = ["long_name"]

# html = apply_highlight(df, cols_to_highlight)

# display(HTML(html))

In [ ]:
# import pandas as pd
# from IPython.display import display, clear_output, HTML

# def highlight_cols(s, color='lightgreen'):
#     return 'background-color: %s' % color

# def apply_highlight(df, cols_to_highlight, color='lightyellow'):
#     html = df.style.applymap(highlight_cols,
#                          subset=pd.IndexSlice[:, cols_to_highlight],
#                         color=color).render()
#     return html

# data_path = './test_data/'

# df = pd.read_csv(data_path + "Chicago Public Schools - School Admissions Information SY2223.csv")
# df = df.head(10)
# cols_to_highlight = ["long_name"]

# html = apply_highlight(df, cols_to_highlight)

# display(HTML(html))